/* * {
    border: 1px solid red;
} */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 171, 189);
}

.header p {
    flex: 1;
    text-align: center;
}

.header {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 65vw;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 200px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    width: 65vw;
}

.settings {
    width: 30%;
    border: 2px solid black;
    border-style: inset;
    border-radius: 4px;

}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sketchpad {
    background-color: white;
    height: 100%;
    width: 65vh;
    border: 2px solid black;
    border-style: inset;
    border-radius: 4px;
}

.grid {
    border: 1px rgba(0, 0, 0, 0.041) solid;;
}
